/* Индикация текудая страница */
.site-nav .current {
  position: relative;
  color: var(--accent-text-color);
}

.site-nav .current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../image/Header-img.jpg');
  background-color: var(--primary-text-color);
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Цвет заголовков */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Преимущества */
.advantages {
  display: flex;
  justify-content: center;
}

.advantages .item {
  width: calc((100% - 3 * 30px) / 4);
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-container {
  display: flex;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--advantages-bgc);
  border-radius: 4px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  color: var(--title-text-color);
}

.advantages-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section.border {
  padding-bottom: 0px;
}
.border::after {
  content: '';
  display: block;
  width: 1170px;
  margin: 0 auto;
  padding-top: 94px;
  border-bottom: 1px solid var(--header-border); /* This creates the border. Replace black with whatever color you want. */
}

/* Чем мы занимаемся */
.activities {
  display: flex;
}

.activities .item {
  position: relative;
  overflow: hidden;
  width: calc((100% -2 * 30px) / 3);
  border-radius: 4px;
}

.activities .item:not(:last-child) {
  margin-right: 30px;
}

.activities-pic {
  display: block;
  margin-bottom: 0px;
}

.activities .text {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;

  padding: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* border-radius: 0px 0px 4px 4px; */

  font-weight: 700;
  text-align: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */
.team-section {
  background-color: var(--advantages-bgc);
}

.team {
  display: flex;
}

.team-item {
  width: calc((100% - 3 * 30px) / 4);
  overflow: hidden;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--white-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-pic {
  display: block;
  max-width: 100%;
  /* margin-bottom: 30px; */
}

.team-info {
  padding-top: 30px;
  padding-right: 31px;
  padding-bottom: 24px;
  padding-left: 32px;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.team-description {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.team-social {
  display: flex;
  justify-content: space-evenly;
}

.team-social .social-link {
  display: block;
  width: 44px;
  height: 44px;
}

.team-social .social-icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: var(--white-color);
  border-radius: 50%;

  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.team-social .social-icon:hover,
.team-social .social-icon:focus {
  fill: var(--white-color);
  background-color: var(--accent-text-color);
}

/* Постоянные клиенты */
.clients {
  display: flex;
}

.clients-item {
  width: calc((100% - 5 * 30px) / 6);
  height: 90px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-border);
  border-radius: 4px;

  fill: var(--clients-logo);

  transition: fill var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);

  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: var(--white-color);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: inline-block;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;

  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
